<div class="wrapper">
  <div class="form-wrapper">
    <h1>Password Generator</h1>
    <p>
      <b>Length</b><br> 
      <input type="text" name="length" autocomplete="off" (change)="onChangeLength($event.target.value)">
    </p>

    <p><b>Letters</b>
      <input type="checkbox" name="useLetters" (change)="onChangeLetters()"></p>

    <p><b>Numbers</b>
      <input type="checkbox" name="useNumbers" (change)="onChangeNumbers()"></p>

    <p><b>Symbols</b>
      <input type="checkbox" name="useSymbols" (change)="onChangeSymbols()"></p>



    <button class="generate-button" (click)="generatePass()"
      [disabled]="!(length && (useLetters || useNumbers || useSymbols))">Generate!</button>


    <ng-container *ngIf="password.length">
      <p>Your Password</p>
      <div class="password-generated-wrapper">
        <h3>{{ password }}</h3>
      </div>
    </ng-container>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>